<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

    <title>My Flows</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css')}}">
</head>

<body>
        
    <div class="pure-g ">
        <div class="pure-u-1-3"></div>
        <div class="pure-u-1-3 center title_home container">
            <p></p>
        </div>
        <div class="pure-u-1-3"></div>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer></footer>   
</body>
</html>