body{
    background-image: url("img/bg.jpg");
    background-size: Cover;
}
main{
    text-align: center;

}
header{
    text-align: center;
    color: #ecf0f1;
    font-family: 'Bangers', cursive;
}

.formulaire{
    background-color: #ecf0f1;
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
    -webkit-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
}

.center {
  justify-content: center;
  text-align: center;
}

.title_form {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 50px;
}

.title_home {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 50px;
    color: beige;
}

.btn_home {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b56b24!important;
    color: white;
}